{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
<title>Pepew | Question</title>
{% endblock meta %}

{% block content %}
<section id="jumbotron">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
</div>
</section>
<main class="container">
     <form  action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button  class="btn pepew-button" type="submit">Submit</button>
        </div>
    </form>
</main>
{% endblock content %}
