{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<title>Virus Pepew</title>
{% endblock meta %}

{% block content %}
<div class="hero">
    <img src="{% static 'images/banner-home.png' %}">
</div>
<main class="container">
    <h1 class="title">Fitur Kami</h1>
    
    <div id="fitur">
        <a href="{% url 'news:news_list' %}">
            <div class="fitur-box" id="berita-box">
                <img src="{% static 'images/berita.png' %}">
                <p class="fitur-desc">
                    Temukan berita-berita terupdate tentang Covid-19 disini
                </p>
            </div>
        </a>
        <a href="{% url 'question:create' %}">
            <div class="fitur-box" id="qna-box">
                <img src="{% static 'images/QnA.png' %}">
                <p class="fitur-desc">
                    Punya pertanyaan? Ingin berdiskusi mengenai informasi seputar Covid-19? Tanyakan atau diskusikan disini!
                </p>
            </div>
        </a>
        <a href="{% url 'rumah_sakit:data-rumah-sakit' %}">
            <div class="fitur-box" id="daftarrs-box">
                <img src="{% static 'images/daftar-rs.png' %}">
                <p class="fitur-desc">
                    Kamu dapat melihat daftar Rumah Sakit rujukan Covid-19 berserta informasi lengkap dengan mudah
                </p>
            </div>
        </a>
        <a href="/Screening">
            <div class="fitur-box" id="screening-box">
                <img src="{% static 'images/screening.png' %}">
                <p class="fitur-desc">
                    Membantu pengguna memahami apa yang harus dilakukan terkait COVID-19.
                </p>
            </div>
        </a>
        <a href="{% url 'donasi:create' %}">
            <div class="fitur-box" id="donasi-box">
                <img src="{% static 'images/donasi.png' %}">
                <p class="fitur-desc">
                    Kami memberikan wadah bagi kamu yang ingin memberikan donasi kepada pihak yang membutuhkan dan tenaga medis
                </p>
            </div>
        </a>
    </div>
</main>
{% endblock content %}