.hero {
    width: 100%;
}

.hero img {
    width: inherit;
}

main {
    margin: 44px 0;
    text-align: center;
}

.title {
    font-size: 3em;
    font-weight: 900;
    color: var(--putih-awan);
    background-color: var(--biru-lambung-kapal);
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Hanson-Bold', sans-serif;
}

#fitur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

#fitur a {
    text-decoration: none;
    color: inherit;
}

.fitur-box {
    background-color: var(--biru-laut);
    font-weight: 700;
    border-radius: 20px;
    max-height: 300px;
    padding: 20px;
    margin-bottom: 32px;
    transition: max-height 0.6s ease-in-out;
    width: 300px;
}

.fitur-box img {
    max-width: 100%;
}

.fitur-desc {
    max-width: 100%;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#berita-box:hover, #qna-box:hover, #daftarrs-box:hover, #screening-box:hover, #donasi-box:hover {
    max-height: 600px;
    box-shadow: 4px 4px 10px rgba(39, 35, 67, 0.25);
}

#berita-box:hover .fitur-desc, #qna-box:hover .fitur-desc, #daftarrs-box:hover .fitur-desc, #screening-box:hover .fitur-desc, #donasi-box:hover .fitur-desc {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
}