@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

@font-face{
    font-family:"Hanson-Bold";
    src: local('Hanson-Bold'), url('/static/fonts/Hanson-Bold.ttf') format('truetype');
}

:root {
    --biru-lambung-kapal: #272343;
    --putih-awan: #FEFEFE;
    --biru-langit: #E3F6F5;
    --biru-laut: #BAE8E8;
}

@media screen and (max-width: 770px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--biru-lambung-kapal);
}

/* HEADER */
header {
    background-color: var(--biru-langit);
    color: var(--biru-lambung-kapal);
    font-family: 'Hanson-Bold', sans-serif;
    /* display: flex;
    justify-content: space-between; */
}

header h1 {
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    padding: 15px 0;
}

header a {
    color: inherit;
}

header a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: inherit;
}

.navbar-nav {
    font-size: 1.375em;
    font-weight: 700;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px; */
    width: 100%;
    text-align: center;
}

.nav-link {
    color: inherit;
}

.nav-link:hover, a.dropdown-item:hover {
    border-radius: 5px;
    color: inherit;
    text-decoration: underline;
    background-color: inherit;
}

.nav-item {
    flex-basis: 25%;
}

.dropdown-menu {
    width: 100%;
    margin-top: 0;
    color: inherit;
    background-color: var(--biru-langit);
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: inherit;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--biru-langit);
    color: var(--biru-lambung-kapal);
    padding: 20px;
}

footer img {
    width: 37px;
}

footer h2 {
    display: inline;
    font-weight: 900;
    margin: 0 0 0 10px;
}

footer p {
    margin: 0;
}

footer #hotline p{
    font-weight: 700;
}

footer #call-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4px;
}

@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer div {
        margin-bottom: 10px;
    }

    footer #call-info {
        justify-content: center;
    }
}