@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

.assessment-invitation h1 {
    font-family: 'Hanson-Bold';
}

.description p {
    font-family: 'Montserrat';
    max-width: 544px;
}

.cv-main-page {
    display: inline-flex;
    max-inline-size: 800px;
    min-block-size: 500px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.assessment-invitation {
    background-color: var(--biru-langit);
    inline-size: 100%;
    max-inline-size: 750px;
    min-block-size: 500px;
    padding: 40px;
    margin: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.bar-primary {
    background-color: var(--biru-lambung-kapal);
    max-width: 435px;
    min-height: 47px;
    max-height: 94px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
}

.bar-primary p {
    font-family: 'Hanson-Bold';
    margin: 20px;
    text-align: center;
    color: var(--putih-awan);
}