.cv-header-banner {
    block-size: 100%;
    height: 203px;
    background: var(--biru-laut);
    display: flex;
    justify-content: center;
    position: relative
}

h1 {
    font-family: 'Hanson-Bold';
    font-size: 23px;
}
h2 {
    font-family: 'Hanson-Bold';
    font-size: 18px;
}
p {
    font-family: 'Montserrat';
    font-size: 18px;
}
.max-size-container {
    inline-size: 100%;
    max-inline-size: 960px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px
}

img {
    margin: auto;
    inset-block-start: -7px;
    max-width: 254px;
}

.page-header {
    max-inline-size: 960px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 40px
}

.first-header-col {
    max-width: 614px;
}

.results-container {
    display: flex;
}
.next-steps.long-list {
    max-width: 542px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.related-info-container {
    flex: 1 1 400px;
    min-inline-size: 300px;
    margin-block-start: 5px;
    margin-inline-start: 60px
}
.survey-responses {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

