@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
    --biru-lambung-kapal: #272343;
    --putih-awan: #FEFEFE;
    --biru-langit: #E3F6F5;
    --biru-laut: #BAE8E8;
}

/* MAIN */
main {
    margin: 44px 0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.pepew-button {
    display: inline-block;
    min-height: 44px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--biru-lambung-kapal);
    color: var(--putih-awan);
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}

.pepew-button:hover {
    color: var(--putih-awan);
}

.pepew-button i {
    margin-right: 10px;
}

/* FORM */
.sub-title {
    font-size: 2.25em;
    font-weight: 900;
    text-align: center;
}

form {
    background-color: var(--biru-langit);
    padding: 44px;
    margin-top: 44px;
    border-radius: 20px;
}

p label {
    display: inline-block;
    width: 100%;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
}

p input, p textarea {
    width: 100%;
    font-size: 1.25em;
    border: none;
    background-color: var(--putih-awan);
    padding: 5px 2px;
}

/* PAYMENT */
.rincian{
    background-color: var(--biru-langit);
    padding: 44px;
    margin-top: 44px;
    border-radius: 20px;
    text-align: center;
}

div h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    line-height: 49px;
    color: var(--biru-lambung-kapal);
}

div p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    color: var(--biru-lambung-kapal);
}

.syarat{
    background-color: var(--biru-langit);
    padding: 44px;
    margin-top: 44px;
    border-radius: 20px;
}

ol li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
}

.bayar{
    background-color: var(--biru-langit);
    padding: 44px;
    margin-top: 44px;
    border-radius: 20px;
    text-align: center;
}

div h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;

}

/*LIST*/
thead th {
    background-color: var(--biru-lambung-kapal);
    color: var(--putih-awan);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

td{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    color: var(--biru-lambung-kapal);
}

h4{
    font-family: 'Hanson-Bold';
    font-style: normal;
    font-weight: bold;
    color: var(--biru-lambung-kapal);
    text-align: center;
    font-size: 40px;
}