{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
<title>Screening COVID-19</title>
{% endblock meta %}

{% block content %}
<div class="cv-main-page">
    <div class="assessment-invitation">
        <h1>SCREENING <br> COVID-19</h1>
        <div class="description-container">
            <div class="description">
                <p>Alat ini dapat membantu Anda memahami apa yang harus dilakukan selanjutnya terkait COVID-19.
                </p>
                <p>
                    Mari kita semua saling menjaga dengan mengetahui status kita, berusaha untuk tidak menulari orang
                    lain, dan menjaga mereka yang membutuhkan.
                </p>
            </div>
        </div>

        <a class="bar-primary" href="Privacy/" role="button">
            <p>Mulai Screening</p>
        </a>
    </div>
</div>

{% endblock content %}