{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questionnaire.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Screening COVID-19</title>
{% endblock meta %}

{% block content %}

<div class="questionnaire">
    <form action="" method="post">
        {% csrf_token %}
        <div class="question ques1">
            <h1>Berapa usiamu?</h1>
            <div class="option btn-primary">
                <input type="radio" id="age1" name="age" value="Dibawah 18 tahun">
                <label for="age1">Dibawah 18 tahun</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="age2" name="age" value="18 - 64 tahun">
                <label for="age2">18 - 64 tahun</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="age3" name="age" value="65 tahun keatas">
                <label for="age3">65 tahun keatas</label>
            </div>
            <div class="button">
                <center><a class="first-button btn">Selanjutnya</a></center>
            </div>
        </div>

        <div class="question ques2 sembunyi">
            <h1>Dalam 10 hari terakhir, apakah kamu mengikuti tes Covid-19 (swab atau rapid test)??</h1>
            <div class="option btn-primary">
                <input type="radio" id="test1" name="test" value="Ya, Positif Covid-19">
                <label for="test1">Ya, dan hasilnya positif</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="test2" name="test" value="Ya, Negatif Covid-19">
                <label for="test2">Ya, dan hasilnya negatif</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="test3" name="test" value="Ya, hasil belum keluar">
                <label for="test3">Ya, namun saya belum menerima hasilnya</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="test4" name="test" value="Belum dites">
                <label for="test4">Saya belum dites dalam 10 hari terakhir</label>
            </div>
            <div class="button">
                <center><a class="second-button btn btn-primary">Selanjutnya</a></center>
            </div>
        </div>

        <div class="question ques3 sembunyi">
            <h1>Apakah kamu merasakan gejala - gejala dibawah ini??</h1>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom1" name="symptomDemam" value='Demam'>
                <label for="symptom1">Demam</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom2" name="symptomSulitBernapas" value='Sulit Bernapas'>
                <label for="symptom2">Sulit bernapas</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom3" name="symptomBatuk" value='Batuk'>
                <label for="symptom3">Batuk</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom4" name="symptomMuntah" value='Muntah atau Diare'>
                <label for="symptom4">Muntah atau diare</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom5" name="symptomNyeri" value='Nyeri'>
                <label for="symptom5">Rasa sakit atau nyeri di seluruh tubuh</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="symptom6" name="symptomNull" value='Tidak ada'>
                <label for="symptom6">Tidak ada</label>
            </div>
            <div class="button">
                <center><a class="third-button btn">Selanjutnya</a></center>
            </div>
        </div>

        <div class="question ques4 sembunyi">
            <h1>Apakah semua ini berlaku untuk Anda?</h1>
            <div class="option btn-primary">
                <input type="checkbox" id="health1" name="Obesity" value="Obesitas">
                <label for="health1">Obesitas</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="health2" name="SmokeVape" value="Merokok atau Vaping">
                <label for="health2">Merokok atau vaping</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="health3" name="Pregnant" value="Ibu Hamil">
                <label for="health3">Ibu hamil</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="health4" name="CirculatoryDisease" value="Penyakit Sirkulasi">
                <label for="health4">Diabetes, tekanan darah tinggi, penyakit ginjal kronis, atau penyakit hati</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="health5" name="BloodCellDisorder" value="Kelainan sel darah">
                <label for="health5">Penyakit sel darah merah bulan sabit, thalassemia, atau lainnya</label>
            </div>
            <div class="option btn-primary">
                <input type="checkbox" id="health6" name="CondNull" value='Tidak ada'>
                <label for="symptom6">Tidak ada</label>
            </div>
            <div class="button">
                <center><a class="fourth-button btn">Selanjutnya</a></center>
            </div>
        </div>

        <div class="question ques5 sembunyi">
            <h1>Dalam 14 hari terakhir, apakah kamu bekerja atau relawan di fasilitas kesehatan?</h1>
            <div class="option btn-primary">
                <input type="radio" id="work1" name="work" value="Bekerja/relawan di faskes">
                <label for="work1">Saya bekerja atau relawan di fasilitas kesehatan</label>
            </div>
            <div class="option btn-primary">
                <input type="radio" id="work2" name="work" value="Tidak bekerja/relawan di faskes">
                <label for="work2">Saya tidak bekerja atau bukan relawan di fasilitas kesehatan</label>
            </div>
            <div class="button">
                <center><input type="submit" value="Submit" class="btn"></center>
            </div>
        </div>

    </form>
</div>
<script>
    $(document).ready(function () {
        $('.first-button').on('click', function () {
            $('.ques1').toggleClass('sembunyi');
            $('.ques2').toggleClass('sembunyi');
        });
        $('.second-button').on('click', function () {
            $('.ques2').toggleClass('sembunyi');
            $('.ques3').toggleClass('sembunyi');
        });
        $('.third-button').on('click', function () {
            $('.ques3').toggleClass('sembunyi');
            $('.ques4').toggleClass('sembunyi');
        });
        $('.fourth-button').on('click', function () {
            $('.ques4').toggleClass('sembunyi');
            $('.ques5').toggleClass('sembunyi');
        });
    });
</script>

{% endblock content %}