{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Screening COVID-19</title>
{% endblock meta %}

{% block content %}
<div class="cv-header-banner">
    <div class="max-size-container">
        <img class="" src="{% static 'images/woman-lift-her-hand-with-confused-face.png' %}" alt="What should i do?">
    </div>
</div>
<div class="page-header">
    <div class="two-col-header-container">
        <div class="first-header-col">
            <h1>Karantina Mandiri di Rumah</h1>
            <p>Anda harus tinggal di rumah dan membatasi kontak dengan orang lain kecuali untuk mendapatkan perawatan
                medis. Anda sebaiknya memakai masker jika harus keluar rumah.
            </p>
        </div>
        <div class="results-container">
            <div class="next-steps long-list">
                <h2 class="title">Langkah selanjutnya</h2>
                <div class="list">
                    <ol>
                        <li>
                            <h4>Tinggal di rumah</h4>
                            <p>
                                Anda tidak boleh pergi bekerja, sekolah, atau tempat umum. Anda harus menghindari
                                transportasi umum dan berbagi tumpangan.
                            </p>
                        </li>
                        <li>
                            <h4>Perhatian gejala dan suhu tubuh</h4>
                            <p>Waspadai gejala COVID-19 seperti demam, batuk, dan kesulitan bernapas. Juga, periksa suhu
                                Anda dua kali sehari selama 14 hari.
                            </p>
                        </li>
                        <li>
                            <h4>Kenakan masker disekitar orang lain</h4>
                            <p>Anda sebaiknya mengenakan masker atau kain penutup pada hidung dan mulut jika Anda harus
                                berada di luar rumah.
                            </p>
                        </li>
                        <li>
                            <h4>Cuci tangan sesering mungkin</h4>
                            <p>Cuci tangan dengan sabun dan air setidaknya selama 20 detik.
                                <br>
                                Anda harus menghindari menyentuh mata, hidung, dan mulut Anda dengan tangan yang tidak
                                dicuci.
                                <br>
                                Jika sabun dan air tidak tersedia, gunakan pembersih tangan yang mengandung setidaknya
                                60% alkohol.
                            </p>
                        </li>
                        <li>
                            <h4>Jaga dan persiapkan</h4>
                            <p>Anda harus makan dengan baik, berolahraga secara teratur, dan banyak tidur. Anda juga
                                harus tetap terhubung dengan teman dan keluarga.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="related-info-container">
                <div class="survey-responses">
                    <h2 class="title">Respon anda </h2>
                    <ul class="responses-list">
                        <li>Umur: {{ context.age }}</li>
                        </li>
                        <li>Test: {{ context.test }}</li>
                        <li>Resiko paparan: {{ context.work }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}