{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<style>
    #error-page {
        text-align: center;
    }

    img {
        width: 100%;
    }
</style>
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<main class="container" id="error-page">
    <h2 class="sub-title">{{ message }}</h2>
    <img src="{% static 'images/404.png' %}">
    <div class="button-group">
        <a class="btn pepew-button" href="{% url 'news:news_list' %}"><i class="fas fa-arrow-left"></i>Kembali</a>
    </div>
</main>
{% endblock content %}