{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h2 class="sub-title">Bagikan Berita Terbaru</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <a class="btn pepew-button" href="{% url 'news:news_list' %}"><i class="fas fa-arrow-left"></i>Kembali</a>
            <input type="submit" value="Simpan" class="btn pepew-button">
        </div>
    </form>
</main>
{% endblock content %}