{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<div id="news-hero" class="hero">
    <h1>Berita</h1>
</div>

<main class="container">
    <div id="question">
        <h2>Ingin menambahkan berita baru ?</h2>
        <div class="button-group">
            <a class="btn pepew-button" href="{% url 'news:news_create' %}">Tulis</a>
        </div>
    </div>
    
    <div id="news-grid">
        {% for item in news %}
        <a href="{% url 'news:news_detail' item.id %}">
            <div class="card">
                <img class="card-img-top" src="{{item.image_url}}" alt="News's image">
                <p class="date">{{ item.date }}</p>
                <h3 class="card-title">{{ item.title }}</h3>
            </div>
        </a>
        {% empty %}
            <!-- mau kasih image gitu -->
            <h3>Belum ada berita😟</h3>
        {% endfor %}
    </div>
</main>
{% endblock content %}