{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>Pepew | News</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <div class="image-section">
        <img class="news-img" src="{{ news.image_url }}" alt="News's image">
    </div>
    <h2 class="news-title">{{ news.title }}</h2>
    <p class="news-date">{{ news.date }}</p>
    <div class="blue-line"></div>
    <p class="news-content">{{ news.content }}</p>
    <p class="news-source">Sumber : {{ news.source }}</p>
    <div class="button-group">
        <a class="btn pepew-button" href="{% url 'news:news_list' %}"><i class="fas fa-arrow-left"></i>Kembali</a>
    </div>
</main>
{% endblock content %}