:root {
    --biru-lambung-kapal: #272343;
    --putih-awan: #FEFEFE;
    --biru-langit: #E3F6F5;
    --biru-laut: #BAE8E8;
}

/* BANNER */
#news-hero {
    background-image: url('../images/banner-news.jpg');
    background-position: center;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 4em;
    font-weight: 900;
    color: var(--putih-awan);
}

/* MAIN */
main {
    margin: 44px 0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.pepew-button {
    display: inline-block;
    min-height: 44px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--biru-lambung-kapal);
    color: var(--putih-awan);
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}

.pepew-button:hover {
    color: var(--putih-awan);
}

.pepew-button i {
    margin-right: 10px;
}

/* NEWS-LIST */
#question {
    text-align: center;
}

#question h2 {
    font-weight: 900;
    margin-bottom: 32px;
}

#news-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media screen and (max-width: 768px) {
    #news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    #news-grid {
        grid-template-columns: 1fr;
    }
}

#news-grid a {
    text-decoration: none;
    color: inherit;
}

#news-grid a:hover {
    box-shadow: 4px 4px 10px rgba(39, 35, 67, 0.25);
}

#news-grid>h3 {
    grid-column-start: span 4;
    text-align: center;
}

.card {
    background-color: var(--biru-langit);
    height: 100%;
}

.date {
    font-size: .875em;
    font-weight: 300;
    margin: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.card img {
    height: 125px;
    object-fit: cover;
}

/* NEWS-DETAIL */
.image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.news-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.news-title {
    font-size: 2em;
    font-weight: 900;
}

.news-date {
    font-size: 1.125em;
    font-weight: 300;
}

.news-content {
    font-size: 1.25em;
    text-align: justify;
}

.news-source {
    font-size: 1.125em;
}

.blue-line {
    background-color: var(--biru-lambung-kapal);
    height: 4px;
    margin-bottom: 20px;
}

/* NEWS-CREATE */
.sub-title {
    font-size: 2.25em;
    font-weight: 900;
    text-align: center;
}

form {
    background-color: var(--biru-langit);
    padding: 44px;
    margin-top: 44px;
    border-radius: 20px;
}

@media screen and (max-width: 576px) {
    form {
        padding: 20px;
        border-radius: 10px;
    }
}

p label {
    display: inline-block;
    width: 100%;
    font-size: 1.25em;
    font-weight: 700;
    text-align: left;
}

p input, p textarea {
    width: 100%;
    font-size: 1.25em;
    border: 1px solid var(--biru-lambung-kapal);
    background-color: var(--biru-langit);
    padding: 5px 2px;
}