{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Pepew | Daftar RS Rujukan</title>
{% endblock meta%}

{% block content %}
<div class="container-fluid py-5 header">
    <h1 id="title" class="ff-hanson c-birutua">Daftar<br>Rumah Sakit</h1>    
</div>

<div class="content container-fluid">
    <a class="btn bgc-birutua c-putih" href="{% url 'rumah_sakit:add-rumah-sakit' %}">
        <img class='small-icon' src="{% static 'img/plus-icon.png' %}">Tambah Rumah Sakit
    </a>

    
    <div class="wrapper  mt-4 bgc-birumuda c-birutua">
        <table class="table mb-0">
            <tr class="c-putih bgc-birutua">
                <th>No</th>
                <th>Nama Rumah Sakit</th>
                <th>Provinsi</th>
            </tr>
            {% if daftarRumahSakit %}
            {% for rumahSakit in daftarRumahSakit %}
            <tr class="c-birutua bgc-birumuda">
                <td>{{ forloop.counter }}</td>
                <td><a class="link-detail c-birutua" href="{% url 'rumah_sakit:detail-rumah-sakit' rumahSakit.id %}">{{ rumahSakit }}</a></td>
                <td>{{ rumahSakit.provinsi }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="text-center" colspan="3">Tidak ada data rumah Sakit</td>
            </tr>
            {% endif %}
        </table>
    </div>
    

</div>
{% endblock content %}