{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Pepew | Detail RS</title>
{% endblock meta%}

{% block content %}
<div class="content container-fluid">
    <a class="btn bgc-birutua c-putih mb-5" href="{% url 'rumah_sakit:data-rumah-sakit' %}">
        <img class='small-icon' src="{% static 'img/arrowleft-icon.png' %}">Kembali
    </a>

    <div class="page-title row justify-content-sm-center m-0">
        <h1 class="d-inline-block col p-0 ff-hanson my-2">{{rumahSakit.nama}}</h1>
        <div class="my-auto">
            <a class="btn bgc-birutua c-putih col-sm-auto my-2" href="{% url 'rumah_sakit:remove-rumah-sakit' rumahSakit.id %}">
                Hapus
                <img class='small-icon icon-right' src="{% static 'img/x-icon.png' %}">
            </a>
        </div>
    </div>

    <div  class="section bgc-birumuda">
        <h4 class="font-weight-bold">Alamat</h4>
        <p>{{ rumahSakit.alamat }}</p>
        <h4 class="font-weight-bold">Provinsi</h4>
        <p>{{ rumahSakit.provinsi }}</p>
        <h4 class="font-weight-bold">Telepon</h4>
        <p>{{ rumahSakit.telepon }}</p>
        <h4 class="font-weight-bold">Fax</h4>
        <p>{{ rumahSakit.fax }}</p>
    </div>
</div>
{% endblock content %}