{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}">
<title>Pepew | Donate-Payment</title>
{% endblock meta %}

{% block content %}
<section id="jumbotron">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
</div>
</section>
<main class="container">
    <div class="container rincian">
        <h1 >Total: Rp{{rupiah}}</h1>
        <br></br>
        <h1>Rincian: </h1>
        <p>Jumlah Donasi: Rp{{payy}}<p>
        <p>Kode Unik: Rp{{rdm}}</p>
    </div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container syarat">
                <h2>Petunjuk pembayaran:</h2>
                <ol>
                    <li>Transfer hanya ke Rekening yang tertera pada website</li>
                    <li>Mohon transfer sesuai dengan total diatas (jumlah donasi + kode unik)</li>
                    <li>Batas transfer 1x24jam setelah mengisi form </li>
                </ol>
            </div>
        </div>
        <div class="col">
            <div class="container bayar">
                <h2>Pembayaran</h2>
                <br></br>
                <h3>BCA</h3>
                <h3>Astrid Diany</h3>
                <h3>1906292944</h3>
                <br></br>
                <h2>CP: Astrid 088888</h2>
            </div>
        </div>
    </div>
</div>
    <br></br>
    <div class="button-group">
    <a href="/donate/list/" class="btn pepew-button">Sudah Bayar</a>
    </div>
</main>
<style>
#jumbotron .jumbotron {
    background-image: url("/static/images/buatjumbo2.jpg");
    background-size: cover;
    background-position: center;
    padding: 13%;
}
</style>
{% endblock content %}