{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/pepew-icon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/7ee84e11dc.js" crossorigin="anonymous"></script>
    {% block meta %}
    {% endblock meta %}
</head>
<body>
    <header>
        <a href="{% url 'pepew_home:home_url' %}"><h1>Virus Pepew</h1></a>
    
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarMenu"><i class="fas fa-bars fa-1x"></i></button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:news_list' %}">Berita</a>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            QnA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'question:create' %}">Form</a>
                            <a class="dropdown-item" href="{% url 'question:list_question' %}">List</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rumah_sakit:data-rumah-sakit' %}">Daftar RS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Screening">Screening</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Donasi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'donasi:create' %}">Form</a>
                            <a class="dropdown-item" href="{% url 'donasi:list_donate' %}">List</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    
    <footer>
        <div id="info">
            <p>Kelompok E03 - PPW</p>
            <p>©Copyright 2020. All Rights Reserved</p>
        </div>
        <div id="hotline">
            <div id="call-info">
                <img src="{% static 'images/call-icon.png' %}">
                <h2>119</h2>
            </div>
            <p>Covid-19 HOTLINE</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>